<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to
    <%= title %>
  </p>
  <ul>
    <li><a href="/random_joke">Random Joke</a></li>
    <li><a href="/all_jokes">All Jokes</a></li>
    <li><a href="/add_joke">Add Joke</a></li>
  </ul>
</body>

</html>