<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <p>Welcome to
        <%= title %>
    </p>
    <ul>

        <p>
            Enter your name to see all our 3 fantastic jokes.
        </p>

        <form action="/" method="post">
            Enter user name:<br>
            <input name="theLogin" type="text"><br>
            <input type="submit" value="Submit">
        </form>
        <br>

    </ul>
</body>

</html>